
body {
    border: 0;
  margin: 0;
  padding: 0;
  background-color:red;
  color: white;
}

.topnav {
  border: 0;
  margin: 0;
  padding: 3px 3px 3px 3px;
  background-color: black;
  color: white;
  overflow: hidden;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

a:link, a:visited {
  
  text-decoration: none;
  display: inline-block;
  color: white;
}

#jia001 {
  margin: 18px;
  
}